# coding: utf-8
<%= form_for @order, html: {role:'form', class:'form-horizontal'} do |order| %>
  <fieldset id="customer_info">
    <legend>客户信息</legend>
    <%= order.fields_for :customer do |c| %>
      <%= c.hidden_field :id %>
      <div class="form-group">
        <%= c.label :name, '名字', class: 'col-sm-2 control-label' %>
        <div class="col-sm-2">
          <%= c.text_field :name, class: 'form-control', placeholder: '张三', :required => true %>
        </div>
      </div>
      <div class="form-group">
        <%= c.label :address, '地址', class: 'col-sm-2 control-label' %>
        <div class="col-sm-8">
          <%= c.text_field :address, class: 'form-control', placeholder: '麒麟区', :required => true %>
        </div>
      </div>
      <div class="form-group">
        <%= c.label :phone, '电话', class: 'col-sm-2 control-label' %>
        <div class="col-sm-3">
          <%= c.phone_field :phone, class: 'form-control', placeholder: '12345678901', :required => true %>
        </div>
      </div>
    <% end %>
  </fieldset>

  <fieldset id="order_info">
    <legend>订单信息</legend>
    <div class="col-sm-11 col-sm-offset-1">
      <table class="table table-bordered" id="doors_info">
        <thead>
          <tr>
            <th style="display:none"></th>
            <th width="10%">材料</th>
            <th width="30%" colspan="3">规格(mm)</th>
            <th width="10%">吊脚(mm)</th>
            <th width="15%">类型</th>
            <th width="10%">数量</th>
            <th width="15%">状态</th>
            <th width="10%">操作</th>
          </tr>
        </thead>
        <tbody>
          <%= order.fields_for :doors do |door| %>
          <tr>
            <td style="display:none"><%= door.hidden_field :id %></td>
            <td>
              <%= door.select :material,
                  [["0.8", "0.8"],["1.0","1.0"],["1.4","1.4"]], {},
                  {class: 'form-control'} %>
            </td>
            <td>
              <%= door.number_field :size_x,
                  {class: 'form-control', placeholder: '900', required: 'required'} %></td>
            <td>*</td>
            <td>
              <%= door.number_field :size_y,
                  {class: 'form-control', placeholder: '2000', required: 'required'} %></td>
            <td>
              <%= door.number_field :sill,
                  {class: 'form-control', placeholder: '15', required: 'required'} %></td>
            <td>
              <%= door.select :type,
                    [["卫生间门", "BathroomDoor"]], {},
                    {class: 'form-control'} %></td>
            <td>
              <%= door.number_field :count,
                  {class: 'form-control', placeholder: '1', required: 'required'} %></td>
            <td>
              <%= door.select :status, [["未完成", 0],["已完成", 1]], {}, {class:'form-control'} %></td>
            <td>
              <button type="button" class="btn btn-danger" onclick="removeDoor(this)" title="删除">
                <span class='glyphicon glyphicon-trash' style='color:#fff;'></span>
              </button>
            </td>
          </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="9">
              <a href="javascript:addDoor()" class="btn btn-default" id="add_bathroom_door">
                <span class='glyphicon glyphicon-plus'></span> 追加卫生间门
              </a>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </fieldset>

  <fieldset id="other_info">
    <legend>其他信息</legend>
    <div class="form-group">
      <%= order.label :order_date, '下单日期', class: 'control-label col-sm-2' %>
      <div class="col-sm-2">
        <%= order.date_field :order_date, class: 'form-control', :required => true %>
      </div>
    </div>
    <div class="form-group">
      <%= order.label :delivery_date, '交货日期', class: 'control-label col-sm-2' %>
      <div class="col-sm-2">
        <%= order.date_field :delivery_date, class: 'form-control', :required => true %>
      </div>
    </div>
    <div class="form-group">
      <%= order.label :status, '状态', class: 'control-label col-sm-2' %>
      <div class="col-sm-2">
        <%= order.select :status, [["未完成", 0],["已完成", 1]], {}, {class:'form-control'} %>
      </div>
    </div>

    <nav>
      <ul class="pager pull-right">
        <li><%= link_to "取消", orders_path %></li>
        <li><%= submit_tag '提交', class: 'btn btn-primary active', onclick: 'prepareData()' %></li>
      </ul>
    </nav>
  </fieldset>
<% end %>
