<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <h2 class="page-header">搜索</h2>
    <%= form_tag orders_path, method: 'get', role:'form' do %>
      <div class="form-group">
	<%= label_tag :customer, '客户' %>
	<%= text_field_tag :customer, @customer, class: 'form-control', placeholder: '张三' %>
      </div>
      <div class="form-group">
	<%= label_tag :type, '类型' %>
	<%= select_tag :type, options_for_select({ '卫生间门' => 'BathroomDoor'}, @type), class: 'form-control' %>
        </div>
      <div class="form-group">
	<%= label_tag :order_date, '下单日期' %>
	<%= date_field_tag :order_date, @order_date, class: 'form-control' %>
      </div>
      <div class="form-group">
	<%= label_tag :delivery_date, '交货日期' %>
	<%= date_field_tag :delivery_date, @delivery_date, class: 'form-control' %>
      </div>
      <%= submit_tag '查询', class: 'btn btn-primary active' %>
    <% end %>
  </div>
  <div class="col-sm-9 col-md-10 main">
    <div class="panel panel-default" style="margin-top:18px;">
      <div class="panel-heading">
	<h1 style="display: inline-block;">订单管理</h1>
	<%= link_to new_order_path, class: "btn btn-primary pull-right", role: "button" do %>
	  <span class='glyphicon glyphicon-plus' style='color:#fff;'></span> 新建订单
	<% end %>
      </div>

      <div class="panel-body">
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>客户</th>
	      <th>规格</th>
	      <th>类型</th>
	      <th>数量</th>
	      <th>下单日期</th>
	      <th>交货日期</th>
	    </tr>
	  </thead>
	  <tbody>
            <% @orders.each_with_index do |order, index| %>
	      <% order.doors.each_with_index do |door, i| %>
                <tr>
                  <td><%= index+1 if i.eql? 0 %></td>
		  <td><%= link_to(order.customer.name, order_path(order)) if i.eql?(0) %></td>
                  <td><%= "#{door.material},  #{door.size_y} * #{door.size_x}" %></td>
		    <td>卫生间门</td>
                    <td><%= door.count %></td>
		    <td><%= order.order_date %></td>
		    <td><%= order.delivery_date %></td>
                </tr>
	      <% end %>
	    <% end %>
	  </tbody>
	</table>
        <div class="pagination">
          <%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
        </div>
      </div>
    </div>
  </div>
</div>
