<!DOCTYPE html>
<html lang="zh_CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>久安门业</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="container" style="margin-top:50px;">

      <div class="container-small">
        <% unless notice.nil? %>
        <div id="flash_notice" class="alert alert-success" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= notice %>
        </div>
        <% end %>

        <% unless alert.nil? %>
        <div id="flash_alert" class="alert alert-danger" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= alert %>
        </div>
        <% end %>
      </div>

      <%= yield %>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">© 淇浩工贸有限公司 2014</p>
      </div>
    </footer>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>

</html>
